body {
    background-color: blueviolet;
    background-image: url(nyanm.jpg);
    background-image: no repeat;

}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 29px;
    text-align: center;
}

p {
    font-family: fantasy;
    font-size: 20px;
    color: rgb(219, 211, 221);
}
.container 
{background-color: rgb(34, 3, 75);
    border-radius: .9rem;
    box-shadow: rgb(24, 155, 35)
        
}
.container2{
    
    background-color: rgb(161, 15, 105);
    border-radius: .5rem;
    box-shadow: rgb(159, 197, 23);
    ;
    background-image: url(nyanm.jpg);
}